/* @import url(https://fonts.google.com); */

body{
  margin: 0;
  padding: 0;
  font-family: "poppins";
}

*{
 box-sizing: border-box;
}

form{
  display:block;
  background-color: #0b8aa0;
  box-shadow: 1px 1px 3px 2px #ddd;
  margin: 40px auto;
  max-width: 400px;
  max-height: 800px;
  padding: 20px;
}

form input, textarea{
   display: flex;
   flex-direction: column;
   width: 80%;
   margin: 10px auto;
   padding: 6px;
   font-family: poppines;
   background-color: #f1f1f1;
   border: 1px solid #ddd;
}

form span{
  color: rgb(67, 67, 218);
}
 
form button{
  height: 30px;
  width: 80px;
  align-items: center;
  border: none;
  background-color: rgb(52, 155, 202);
  color: #fff;
  cursor: pointer;
}

































































